@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<p>@Model.Message</p>

<address>
    <strong>Paolo Salvatori</strong><br />
    Microsoft House<br />
    Viale Pasubio 21<br />
    20100 Milano (MI)<br />
    Italy<br />
    <strong>Email:</strong> <a href="mailto:paolos@microsoft.com">paolos@microsoft.com</a><br />
</address>
